dashboard_projeto1.json
[
    {
        "id": "8fed04c151526a80",
        "type": "tab",
        "label": "Fluxo 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "423c0956e1c4e001",
        "type": "mqtt in",
        "z": "8fed04c151526a80",
        "name": "Status da Fechadura",
        "topic": "bitdoglab_02/status",
        "qos": "1",
        "datatype": "auto-detect",
        "broker": "30fe7bc3b7658120",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 230,
        "y": 80,
        "wires": [
            [
                "2acefad75a46ec9d"
            ]
        ]
    },
    {
        "id": "5b2d874cb2f0b4f7",
        "type": "mqtt in",
        "z": "8fed04c151526a80",
        "name": "Log de Eventos",
        "topic": "bitdoglab_02/historico",
        "qos": "1",
        "datatype": "auto-detect",
        "broker": "30fe7bc3b7658120",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 240,
        "y": 160,
        "wires": [
            [
                "7bd09bc9bb1b209b"
            ]
        ]
    },
    {
        "id": "7bd09bc9bb1b209b",
        "type": "function",
        "z": "8fed04c151526a80",
        "name": "Formata Log com Hora",
        "func": "// Pega o hist贸rico anterior que guardamos na mem贸ria. Se n茫o existir, come莽a com uma string vazia.\nvar historico = flow.get('historico') || \"\";\n\n// Pega a hora atual e formata para o padr茫o brasileiro.\nlet d = new Date();\nlet time = d.toLocaleTimeString('pt-BR');\n\n// Cria a nova linha do log com a hora e a mensagem que chegou.\nlet nova_linha = time + \" - \" + msg.payload;\n\n// Adiciona a nova linha NO INCIO do hist贸rico existente, para que os eventos mais recentes apare莽am em cima.\nhistorico = nova_linha + \"\\n\" + historico;\n\n// Para n茫o sobrecarregar a tela, vamos limitar o hist贸rico s 煤ltimas 10 entradas.\nvar linhas = historico.split(\"\\n\");\nif (linhas.length > 10) {\n    // Remove a linha mais antiga (a 煤ltima da lista)\n    linhas.pop();\n    historico = linhas.join(\"\\n\");\n}\n\n// Guarda o novo hist贸rico completo na mem贸ria para a pr贸xima vez.\nflow.set('historico', historico);\n\n// Envia o hist贸rico COMPLETO para ser exibido no n贸 de texto.\nmsg.payload = historico;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 530,
        "y": 160,
        "wires": [
            [
                "8097f34240f6a4ea"
            ]
        ]
    },
    {
        "id": "2acefad75a46ec9d",
        "type": "ui_text",
        "z": "8fed04c151526a80",
        "group": "4ee9693fed872a0f",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "Exibe Status",
        "label": "Status Atual",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 750,
        "y": 80,
        "wires": []
    },
    {
        "id": "8097f34240f6a4ea",
        "type": "ui_template",
        "z": "8fed04c151526a80",
        "group": "4ee9693fed872a0f",
        "name": "",
        "order": 2,
        "width": "6",
        "height": "9",
        "format": "<style>\n    .log-container {\n        /* Estilo da caixa */\n        height: 100%;\n        width: 100%;\n        background-color: #f0f0f0;\n        border: 1px solid #ccc;\n        border-radius: 4px;\n        padding: 5px;\n        box-sizing: border-box;\n        /* Garante que o padding n茫o aumente o tamanho */\n    }\n\n    .log-pre {\n        /* Estilo do texto dentro da caixa */\n        height: 100%;\n        margin: 0;\n        overflow-y: auto;\n        /* A m谩gica da barra de rolagem! */\n        white-space: pre-wrap;\n        /* Garante a quebra de linha */\n        font-family: monospace;\n        /* Fonte boa para logs */\n        font-size: 12px;\n    }\n</style>\n\n<div class=\"log-container\">\n    <div style=\"font-weight: bold; border-bottom: 1px solid #bbb; margin-bottom: 4px;\">Hist贸rico de Eventos</div>\n    <pre class=\"log-pre\" ng-bind-html=\"msg.payload\"></pre>\n</div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 780,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "6e16e91ef1219506",
        "type": "ui_button",
        "z": "8fed04c151526a80",
        "name": "Bot茫o Modo Admin",
        "group": "4ee9693fed872a0f",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Habilitar Mudan莽a de Senha",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "fa-key",
        "payload": "ADMIN_SENHA",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "str",
        "x": 290,
        "y": 360,
        "wires": [
            [
                "3f828654dc9d8d35"
            ]
        ]
    },
    {
        "id": "3f828654dc9d8d35",
        "type": "mqtt out",
        "z": "8fed04c151526a80",
        "name": "Envia Comando para Placa",
        "topic": "bitdoglab_02/comando/estado",
        "qos": "1",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "30fe7bc3b7658120",
        "x": 620,
        "y": 400,
        "wires": []
    },
    {
        "id": "7652ed0cf801c3a6",
        "type": "ui_button",
        "z": "8fed04c151526a80",
        "name": "",
        "group": "4ee9693fed872a0f",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": " ALARME DE INCNDIO ",
        "tooltip": "",
        "color": "",
        "bgcolor": "#b30000",
        "className": "",
        "icon": "fa-fire",
        "payload": "INCENDIO",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 290,
        "y": 460,
        "wires": [
            [
                "3f828654dc9d8d35"
            ]
        ]
    },
    {
        "id": "2ac3332522784b41",
        "type": "mqtt in",
        "z": "8fed04c151526a80",
        "name": "Recebe Heartbeat",
        "topic": "bitdoglab_02/heartbeat",
        "qos": "1",
        "datatype": "auto-detect",
        "broker": "30fe7bc3b7658120",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 250,
        "y": 240,
        "wires": [
            [
                "fb8eaea86e3d23fe"
            ]
        ]
    },
    {
        "id": "fb8eaea86e3d23fe",
        "type": "function",
        "z": "8fed04c151526a80",
        "name": "Formata ltimo Heartbeat",
        "func": "let d = new Date();\nlet time = d.toLocaleTimeString('pt-BR');\nmsg.payload = \"ltimo sinal de vida recebido s: \" + time;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 510,
        "y": 240,
        "wires": [
            [
                "301ac05a75189f41"
            ]
        ]
    },
    {
        "id": "301ac05a75189f41",
        "type": "ui_text",
        "z": "8fed04c151526a80",
        "group": "4ee9693fed872a0f",
        "order": 5,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Sinal de Vida (Core 0)",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 800,
        "y": 240,
        "wires": []
    },
    {
        "id": "30fe7bc3b7658120",
        "type": "mqtt-broker",
        "name": "",
        "broker": "192.168.0.18",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "4ee9693fed872a0f",
        "type": "ui_group",
        "name": " Fechadura 2FA",
        "tab": "2452ff6ef29c7e60",
        "order": 1,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "2452ff6ef29c7e60",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]
